<div class="container">
  <h1>Thank you.</h1>

  We are submitting your HIT right now...
<%=@resubmit.id%>

</div>

<script type="text/javascript">
window.location = 'https://www.mturk.com/mturk/externalSubmit?assignmentId=<%=@resubmit.assignment_id.to_s%>&cond=1'
</script>